.component-dropdown-menu {
  color: #eee;
  font-weight: bold;
  border: 2px solid #eee;
  border-radius: 4px;
  background: linear-gradient(135deg, rgba(1,1,1,1) 0%, rgba(28,28,28,1) 40%, rgba(38,38,38,1) 58%, rgba(79,79,79,1) 100%);
}

.component-dropdown-menu label {
  font-weight: bold;
  padding-right: 4px;
  font-size: 9px;
  color: #eee;
  position: absolute;
  margin-top: -8px;
  margin-left: 8px;
  background-color: #121212;
  padding-left: 4px;
}

.component-dropdown-menu select {
  border: none;
  border-radius: 4px;
  width: 88%;
  height: 80%;
  outline: 0;
  background: transparent;
  margin-top: 5px;
  margin-left: 8px;
}

.component-dropdown-menu option {
  background: rgb(1,1,1);
  font-weight: bold;
}