.component-num-stepper {
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  opacity: 1;
  height: 32px;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.component-num-stepper input {
  width: 52px;
  height: 32px;
  line-height: 1.65;
  padding: 0;
  margin: 0;
  padding-left: 4px;
  border: 1px solid #eee;
  border-radius: 4px;
  font-weight: bold;
  background: transparent;
  color: white;
}

.component-num-stepper label {
  font-weight: bold;
  padding-right: 4px;
  color: white;
}

.component-num-stepper input:focus {
  outline: 0;
}
