.component-app {
  width: 920px;
  height: 480px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-width: 1px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.content-wrapper {
  width: 94%;
  margin: 0 auto;
  padding-top: 30px;
}

.display-wrapper {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.first-col-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.on-button {
  color: #ffffff;
  background-color: #00ff7c;
  border: 1px solid #00ff7c;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #00823F;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  outline: none;
  width: 100px;
  height: 32px;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 4px;
}

.on-button img {
  margin-left: 4px;
  margin-bottom: 4px;
}

.play-icon {
  display: inline;
}

.play-icon.playing {
  display: none;
}

.stop-icon {
  display: none;
}

.stop-icon.playing {
  display: inline;
}

.on-button span {

}

.on-button.playing {
  background-color: #ff6666;
  border: 1px solid #ff6666;
  box-shadow: 0px 5px 0px #b34d4d;
}

.on-button:active {
  box-shadow: 0 3px 0 #00823F;
  top: 3px;
}

.on-button.playing:active {
  box-shadow: 0 3px 0 #b34d4d;
  top: 3px;
}

.button-panel > div {
  display: grid;
  grid-template-columns: 140px repeat(4, 44px 44px 44px 52px);
  grid-auto-rows: 55px;
}

.sampleBtn-container {
  height: 50px;
  width: 120px;
  border-radius: 8px;
  box-shadow: 0 0 6px gray;
  background: rgb(1,1,1);
  background: linear-gradient(135deg, rgba(1,1,1,1) 0%, rgba(28,28,28,1) 40%, rgba(38,38,38,1) 58%, rgba(79,79,79,1) 100%);
}

.sampleBtn-container label {
  color: #eee;
  padding-top: 14px;
  padding-left: 10px;
  font-size: 12px;
}

